[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
raspberry-gpio-emulator = {git = "https://github.com/nosix/raspberry-gpio-emulator/"}

[packages]
python-dotenv = "*"
pysesame2 = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python sesame.py"
